*{
    margin:0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #2f2f2f;
}
.navbar{
    width:95vw;
    height:7vh;
    translate: 2.5vw 2vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3.5vh;
    opacity: 1;
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: sticky;
    top: 0;
    background: linear-gradient(
    135deg,
    rgba(255,255,255,0.05),
    rgba(255,255,255,0.15)
    );
    display: flex;
}
@font-face {
  font-family: 'Lovelo';
  src: url('/fonts/Lovelo-Black.woff2') format('woff2'),
       url('/fonts/Lovelo-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.logo{
    width:20%;
    translate: 1.3vw  0.625vh;
    height: 5.50vh;
    border-radius: 2.875vh;
    color: #ffffff;
    font-family: Lovelo,sans-serif;
    font-size: 5vh;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo a:active{
    color: black;
}
.menu-btn {
    translate: 72vw -0.25vh;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-btn:active{
    color:black;
}
