*{
    margin:0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: #2f2f2f;
}
.navbar{
    width:95vw;
    height:7vh;
    margin-top:2vh;
    margin-bottom: 2vh;
    margin-right: 2.5vw;
    margin-left: 2vw;
    background-color: lightgray;
    border-radius: 3.5vh;
    opacity: 0.3;
    z-index: 10;
    position: sticky;
    top: 0;
}
.blur-circle {
  width: 200px;
  height: 200px;
  background: #7f5af0;
  border-radius: 50%;
  filter: blur(40px);
  opacity: 0.7;
  translate: 25vw;
  translate: 40vw -10vh;
}
